* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

section.login {
    width: 100%;
    height: 100%;
    background-color: #ccc;
}

.login .form {
    width: 50%;
    padding: 20px 2%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
}

.login .form h3 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 40px;
}

.login .form form {
    display: flex;
    flex-wrap: wrap;
}



.form form {
    width: 100%;
}

form input {
    width: 80%;
    border: 1px solid #4b4b4b;
    border-radius: 12px;
    height: 32px;
    margin-bottom: 15px;
    padding-left: 8px;
}

form input:focus {
    outline: none;
}

form label {
    display: inline-block;
    font-size: 18px;
    color: #4b4b4b;
    width: 20%;
    margin-bottom: 15px;
}

form input[type="submit"] {
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
    cursor:  pointer;
    padding: 0;
}

form input[type="submit"]:hover {
    background-color: #8c8c8c;
    color: white;
    transition: 0.4s;
}


section.main {
    width: 100%;
    height: 100%;
    background-color: #ccc;
}

.container {
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 30px 2%;
}

.chat {
    width: 100%;
    border-radius: 25px;
    border: 1px solid black;
    padding: 15px 2%;
    height: 100%;
}

.message {
    width: 100%;
    border-radius: 25px;
    padding: 15px 2%;
    height: 80%;
    overflow-y: scroll;
}

.chat .form {
    height: 10%;
    margin-top: 5%;
    width: 100%;
    border-radius: 15px;
    border: 1px solid black;
}

.chat .form form {
    width: 100%;
    height: 100%;
    display: flex;
}

form textarea:focus {
    outline: none;
}

.chat .form form textarea {
    width: 90%;
    height: 100%;
    border-radius:  12px 0 0 12px;
    padding-top: 12px;
    padding-left: 8px;
    resize: none;
    font-size: 18px;
}

.chat .form form button {
    width: 10%;
    height: 100%;
    border: 1px solid #4b4b4b;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
}

.chat .form form button:hover {
    background-color: rgb(132, 188, 241);
    transition: 0.4s;
}

.message .msg {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
}

.row-direction {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.me,.user  {
    background-color: lightblue;
    padding: 8px 2%;
    border-radius: 15px;
}



